[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
**/*.meta
[Ll]ibrary/
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
.idea/
/*.user
/*.xmlDoc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
Desktop.ini
[Bb]uild/
[Bb]uilds/
crashlytics-build.properties
/Packages/
!Packages/manifest.json
!Packages/packages-lock.json
.vscode/
*.bak
*.tmp
*.swp
